<nav class="navbar navbar-expand-lg bg-dark bg-body-dark text-white">
  <div class="container-fluid ">
    <a class="navbar-brand text-white" href="#">
      <img src="assets/download.png" alt="" style="width:70px; height: auto;">
    </a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link text-white active" aria-current="page" href="#">Home</a>
        <a class="nav-link text-white" href="#">Features</a>
        <a class="nav-link text-white" href="#">Pricing</a>
        <a class="nav-link text-white disabled" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </div>
</nav>
